
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: Arial, 'Lucida Grande';
    font-size: 16px;
    min-height: 100%;

    background: #fafafa;
}

.page {
    position: relative;
    margin-left: 200px;
    background: #fff;
    min-height: 100%;
}

.logo {
    position: absolute;
    color: #e0e0e0;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;

    top: 20px;
    left: 30px;
}

.title {
    position: absolute;

    top: 64px;
    left: 0px;
    border-left: 5px solid #E87600;
    padding-left: 25px;

    font-weight: bold;
    font-size: 18px;
}

.items {
    position: absolute;
    list-style: none;

    top: 111px;
    left: 0px;
}

.items li {
    position: relative;
    padding-left: 60px;

    color: #444;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 12px;
}

.items li::before {
    content: ' ';
    position: absolute;
    left: 40px;
    top: 20px;
    bottom: -12px;
    width: 1px;
    background: #e0e0e0;
}

.items li:last-child::before {
    visibility: hidden;
}

.items li::after {
    content: ' ';
    position: absolute;
    left: 30px;
    top: 10px;
    margin-top: -10px;
    box-sizing: border-box;
    height: 21px;
    width: 21px;
    border: 1px solid #888;
}
