
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: Arial, 'Lucida Grande';
    font-size: 16px;
    min-height: 100%;

    background: #fafafa;
}

.page {
    position: relative;
    margin: auto;
    width: 480px;
    border-right: 240px #fafafa solid;
    background: #fff;
    min-height: 100%;
    padding-top: 66px;
}

.logo {
    position: absolute;
    color: #d0d0d0;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;

    top: 20px;
    left: 30px;
}

.attribution {
    float: right;
    margin-right: -240px;
    width: 200px;

    padding-top: 8px;
    padding-bottom: 8px;

    text-align: right;
    font-style: italic;
    line-height: 16px;
}

.title {
    border-left: 15px solid #f3f315;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 30px;

    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
}

.items {
    list-style: none;

    padding-top: 32px;
    left: 0px;
}

.items li {
    position: relative;
    padding-left: 64px;
    padding-right: 30px;

    color: #444;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 16px;
}

.items li::before {
    content: ' ';
    position: absolute;
    left: 0px;
    top: 4px;
    width: 15px;
    height: 10px;
    background: #f0f0f0;
}

.items li::after {
    content: ' ';
    position: absolute;
    left: 31px;
    top: 9px;
    margin-top: -10px;
    box-sizing: border-box;
    height: 20px;
    width: 20px;
    border: 1px solid #888;
    border-radius: 2px;
}
